
<div>
    
    <div spellcheck="false" target="_top" autocomplete="off" >

        <div><!--  -->

            <div id="lightboxTemplateContainer" ><!--  -->
    
    <div ><div class="background-image-holder" >
        <!-- ko if: smallImageUrl --><!-- /ko -->
    
        <!-- ko if: backgroundImageUrl -->
        <div  class="background-image ext-background-image" style="background-image: url(&quot;assets/bagrod.svg&quot;);"></div>
           
        <!-- /ko -->
    </div></div>
    <router-outlet></router-outlet>
    </div>

    <!-- /ko --></div>
        <!-- /ko -->
    </div>
    

    
    <!-- ko if: svr.ac -->
    <div id="idPartnerPL" ></div>
    <!-- /ko --></div>